carlos@carloss-MacBook-Air plaid-backend % ls -a
.			.git			node_modules		package.json		serviceAccountKey.json
..			index.html		package-lock.json	server.js
carlos@carloss-MacBook-Air plaid-backend % 
ServiceAccountKeys.json
